{% extends 'base.html' %}

{% block title %}
{{ user }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in certs %}
<div class="card mb-3">
    <div class="card-header">
        Сотрудник: {{ item.user }}
    </div>
    <div class="card-body">
        <div class="media">
            <div class="media-body">
                <h5 class="card-title">{{ item.exam_name }}</h5>
                <a href="#" class="btn btn-primary">Посмотреть сертификат</a>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        {{ item.created_at|date:"d.m.Y H:i:s" }}
    </div>
</div>
{% endfor %}
{% endblock %}

